.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 100%;
}

div > h1 {
  display: inline-block;
  font-size: 4rem;
  color: #fff;
  -webkit-text-stroke: 2px #0ba360;
  margin: 5px;
}

div h4 {
  margin-top: 5px;
  text-align: center;
  color: #009245;
}

.tac_one_regular {
  font-family: "Tac One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mob_display {
  display: none;
}

.options {
  position: absolute;
  top: 100px;
  margin: auto;
  z-index: 10;
  width: 1350px;
  height: 500px;
  background: rgb(114, 216, 80);
  border: #0ba360 5px solid;
  border-radius: 10px;
  color: #009245;
  font-size: 20px;
  text-align: center;
  font-weight: 900;
}

.backgrounds,
.backs {
  display: flex;
}

.block {
  display: flex;
  justify-content: space-evenly;
  margin: 15px auto;
  width: 50%;
}

.backs {
  max-width: 800px;
  margin: 0 auto;
}

.block img {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 8px;
  cursor: pointer;
  margin: 2% auto;
  justify-content: space-evenly;
}

.backs img {
  display: inline-block;
  width: 60px;
  height: 90px;
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 8px;
  cursor: pointer;
  margin: 5px auto;
  justify-content: space-evenly;
}

.backgrounds img:hover,
.backs img:hover {
  box-shadow: 10px 5px 5px #0ba360;
}

.btn_hover {
  width: 150px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn_hover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn_hover:focus {
  outline: none;
}
.btn-hover.color-1 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #40e495,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn_hover.color-2 {
  background-image: linear-gradient(
    to right,
    #f5ce62,
    #e43603,
    #fa7199,
    #e85a19
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3 {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4 {
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn_hover.color_5 {
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6 {
  background-image: linear-gradient(
    to right,
    #009245,
    #fcee21,
    #00a8c5,
    #d9e021
  );
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7 {
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8 {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10 {
  background-image: linear-gradient(
    to right,
    #ed6ea0,
    #ec8c69,
    #f7186a,
    #fbb03b
  );
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11 {
  background-image: linear-gradient(
    to right,
    #eb3941,
    #f15e64,
    #e14e53,
    #e2373f
  );
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
  .btn_hover {
    margin: 20px 5px 5px;
  }

  div > h1 {
    font-size: 45px;
    margin: 13px 5px 5px -5px;
  }
}

@media screen and (max-width: 1024px) {
  span {
    display: none;
  }

  .btn_hover {
    margin: 20px 10px 10px;
    width: 40px;
  }

  div > h1 {
    font-size: 55px;
  }
}

@media screen and (max-width: 500px) {
  span {
    display: none;
  }

  .mob_display {
    display: inline-block;
  }

  .backgrounds {
    display: block;
  }

  .block {
    display: flex;
    justify-content: space-evenly;
    margin: 15px auto;
    width: 100%;
  }

  .options {
    width: 100vw;
    display: block;
    position: fixed;
    top: 250px;
    left: 0px;
    z-index: 10;
    background: rgb(114, 216, 80);
    border: #0ba360 5px solid;
    border-radius: 10px;
    color: #009245;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
  }

  .backs {
    max-width: 100vw;
  }

  .backgrounds img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
  }

  .backs img {
    width: 40px;
    height: 65px;
    margin: 10px auto;
  }

  .btn_hover {
    font-size: 20px;
    width: 40px;
    height: 35px;
    margin: 7px;
  }

  div > h1 {
    font-size: 25px;
    margin: 5px 5px 5px -2px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip::after {
  content: attr(data-tooltip);
  position: absolute;
  background-color: #009245;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.tooltip:hover::after {
  opacity: 1;
  transition-delay: 0s;
}
