.area {
  width: 400px;
  height: 100%;
  border: 1px solid green;
  position: relative;
}

.level {
  position: absolute;
  width: 50px;
  height: 100px;
  border: 1px solid blue;
}
.level:nth-child(1) {
  top: 10%;
  left: 40%; /* Расположение первого уровня */
}

.level:nth-child(2) {
  top: 15%; /* Высота первого уровня */
  left: 30%; /* Расположение второго уровня */
}

.level:nth-child(3) {
  top: 15%; /* Высота первого + второго уровня */
  left: 50%; /* Расположение третьего уровня */
}

.level:nth-child(4) {
  top: 20%; /* Высота первого + второго + третьего уровней */
  left: 20%; /* Расположение четвертого уровня */
}
.level:nth-child(5) {
  top: 20%; /* Высота первого уровня */
  left: 40%; /* Расположение второго уровня */
}

.level:nth-child(6) {
  top: 20%; /* Высота первого + второго уровня */
  left: 60%; /* Расположение третьего уровня */
}

.level:nth-child(7) {
  top: 25%; /* Высота первого + второго + третьего уровней */
  left: 10%; /* Расположение четвертого уровня */
}
.level:nth-child(8) {
  top: 25%; /* Высота первого уровня */
  left: 30%; /* Расположение второго уровня */
}

.level:nth-child(9) {
  top: 25%; /* Высота первого + второго уровня */
  left: 50%; /* Расположение третьего уровня */
}

.level:nth-child(10) {
  top: 25%; /* Высота первого + второго + третьего уровней */
  left: 70%; /* Расположение четвертого уровня */
}
