body {
  display: flex;
  justify-content: center;
  height: 100%;
  background-image: url("../src/assets/backgrounds/default.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.header-bottom {
  display: none;
}

.footer-top {
  display: none;
}

@media screen and (max-width: 500px) {
  .header-bottom {
    display: block;
  }

  .header-top {
    display: none;
  }

  .footer-top {
    display: flex;
    position: fixed;
    top: 0;
    bottom: auto;
  }

  .footer-bottom {
    display: none;
  }
}
